// --------------------------------------------------------------------------
//  Copyright 2012 Sam Deane, Elegant Chaos. All rights reserved.
//  This source code is distributed under the terms of Elegant Chaos's
//  liberal license: http://www.elegantchaos.com/license/liberal
// --------------------------------------------------------------------------

/// Standard xcconfig files.
/// The use of a relative path here relies on ECLogging being in a known location. See <ImportNote> in the documentation for more details.

CLANG_WARN_OBJC_IMPLICIT_ATOMIC_PROPERTIES = NO
CLANG_WARN_SUSPICIOUS_IMPLICIT_CONVERSION = NO
GCC_WARN_ABOUT_MISSING_PROTOTYPES = NO
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
